@charset "UTF-8";
/* CSS Document */


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,400;0,500;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,400;0,500;1,400&family=Noto+Sans:wght@200&display=swap');



body {
	font-family: 'Noto Sans Display';
}

.boder-bot {
	border-bottom: 0.3px solid #A3A3A3;
}

.navbar .navbar-nav .nav-item .nav-link {
	padding: 8px 20px;
	font-weight: 700;
	border-radius: 20px;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
	background-color: blue;
	color: white;
}

.navbar .navbar-nav .nav-item .dropdown-menu {
	background-color: rgb(66, 67, 165);
	padding-bottom: 0;
	padding-top: 0;
}

.navbar .navbar-nav .nav-item .dropdown-menu li {
	border-bottom: 1px dotted #B0B0B0;
}

.navbar .navbar-nav .nav-item .dropdown-item {
	color: white;
	transition: all 0.7s;
}

.navbar .navbar-nav .nav-item .dropdown-item:hover {
	padding-left: 25px;
	background-color: gray;
}

@media {
	.navbar .navbar-nav .nav-item .nav-link {
		text-align: center;
	}

	.navbar .navbar-nav .nav-item .dropdown-item {
		text-align: center;
	}
}

footer .nav .nav-link .nav-item:hover {
	color: blue;
}

main {
	width: 100%;
	min-height: 1100px;
}

#banner .banner-r {
	position: relative;
}

#banner .caption-r {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	top: 5%;
}

#banner .cover {
	position: absolute;
	width: 80%;
	height: 80%;
	background: rgb(0, 0, 0, 0.5);
	left: 10%;
	top: 10%;
	color: white;
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: scale(0) rotateY(360deg);
	transition: all 0.5s;
}

#banner .banner-r:hover .cover {
	transform: scale(1) rotateY(0deg);
}

.hinh {
	overflow: hidden;
	position: relative;
}

.social {
	position: absolute;
	width: 80%;
	height: 50px;
	left: 10%;
	top: 110%;
	display: flex;
	transition: all 0.5s;
	justify-content: space-around;
}

.social a {
	display: flex;
	flex-direction: row;
	text-decoration: none;
	width: 55px;
	height: 55px;
	background-color: darkgrey;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	color: white;
}

.social a:hover {
	background-color: darkred;
	color: white;
}

.hinh:hover .social {
	top: 50%;
}

#sp-men .owl-nav {
	position: absolute;
	left: 0px;
	top: 30%;
	width: 100%;
}

#sp-men .owl-nav [class*='owl-'] {
	font-size: 40px;
	color: #858585;
}

#sp-men .owl-nav .owl-next {
	position: absolute;
	right: -2%;
}

#sp-men .owl-nav .owl-prev {
	position: absolute;
	left: -2%;
}

#sp-women .owl-nav [class*='owl-']:hover {
	background: none;
	border: 1px solid black;
	color: black;
}

#sp-women .owl-nav {
	position: absolute;
	left: 0px;
	top: 30%;
	width: 100%;
}

#sp-women .owl-nav [class*='owl-'] {
	font-size: 40px;
	color: #858585;
}

#sp-women .owl-nav .owl-next {
	position: absolute;
	right: -2%;
}

#sp-women .owl-nav .owl-prev {
	position: absolute;
	left: -2%;
}

#sp-women .owl-nav [class*='owl-']:hover {
	background: none;
	border: 1px solid black;
	color: black;
}

#sp-kid .owl-nav {
	position: absolute;
	left: 0px;
	top: 30%;
	width: 100%;
}

#sp-kid .owl-nav [class*='owl-'] {
	font-size: 40px;
	color: #858585;
}

#sp-kid .owl-nav .owl-next {
	position: absolute;
	right: -2%;
}

#sp-kid .owl-nav .owl-prev {
	position: absolute;
	left: -2%;
}

#sp-kid .owl-nav [class*='owl-']:hover {
	background: none;
	border: 1px solid black;
	color: black;
}

.box-father {
	position: relative;
	overflow: hidden;
}

.social-icon {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0, 0.5);
	left: 0;
	top: 100%;
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	transition: all 1s;
	color: white;
}

.social-icon a {
	color: white;
}

.social-icon a:hover {
	color: darkred;
}

.box-father:hover .social-icon {
	top: 0;
}

@media (max-width:667px) {
	.social-icon {
		display: none;
	}
}

#explore .content {
	width: 100%;
	height: 100%;
	background-color: #dadada;
	text-align: center;
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#pageheader {
	width: 100%;
	min-height: 400px;
	background-image: url("../images/about-us-page-heading.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	display: flex;
	justify-content: center;
	align-items: center;
}

#pageheader .caption {
	color: white;
	text-align: center;
}

.about-icon {
	width: 100%;
	height: 45px;
	padding-top: 30px;
	display: flex;
	justify-content: center;
}

.about-icon .box {
	height: 45px;
	width: 45px;
	background-color: red;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}

.about-icon .box a {
	color: white;
}

.about-icon .box:hover {
	background-color: black;
}

.about-icon .box:hover a {
	color: white;
}

#fashion {
	width: 100%;
	min-height: 400px;
	background-image: url("../images/womenpage1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#fashion .word {
	padding-left: 75px;
	width: 490px;
}

.word-cover {
	height: 45px;
	width: 150px;
	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 25px 0px;
	color: white;
	background-color: deeppink;
}

.categories_item {
	height: 270px;
}

/* .name-product {
	display: flex;
	justify-content: center;
} */

.team {
	position: relative
}

.team-cover {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.70);
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0);
	transition: all 0.6s
}

.team-cover .icon {
	width: 60%;
	height: 40px;
	display: flex;
	justify-content: space-between
}

.team-cover .icon a {
	height: 40px;
	width: 40px;
	background-color: white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: gray
}

.team-cover .icon a:hover {
	background-color: black;
	color: white
}

.team:hover .team-cover {
	transform: scale(1)
}